@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@layer base {
  body {
    @apply font-[Montserrat];
  }
}

@font-face {
  font-family: "Thin";
  src: local("Montserrat-Thin"),
    url("./fonts/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Montserrat-Regular"),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Montserrat-Medium"),
    url("./fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Figtree-Bold"), url("./fonts/Figtree-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local("Figtree-SemiBold"),
    url("./fonts/Figtree-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "ButtonText";
  src: local("Figtree-Regular"),
    url("./fonts/Figtree-Regular.ttf") format("truetype");
}

.text-outline {
  position: relative;
  color: white;
}
.text-outline::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: black; /* Border color */
  -webkit-background-clip: text;
  background-clip: text;
  transform: translate(2px, 2px); /* Adjust the distance for the border */
  font-weight: bold;
}

/* Add custom perspective */
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

/* Default color for the pagination dots */
.swiper-pagination-bullet {
  background-color: #d1d1d1; /* Light gray */
  opacity: 1; /* Ensure the dots are fully visible */
}

/* Active dot color */
.swiper-pagination-bullet-active {
  background-color: #34c759; /* Green */
}
